$color-primary: #554DDE;
$color-primary-accent: #F44E77;
$color-primary-stroke: #CAD6F1;
$color-primary-neutral: #F2F6FF;
$color-primary-white: #fff;
$color-secondary-light: #6A6D9E;
$color-secondary-dark: #16194F;
